@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 60px;
}

body {
  background-color: black;
}

.colorBox {
  background-color: white;
  color: black;
  font-family: Montserrat, sans-serif;
  padding: 10px;
}

div,
input,
label {
  margin-bottom: 1rem;
  margin-right: 10px;
  margin-left: 10px;
  align-content: center;
  text-align: center;
  color: white;
}

input {
  color: black;
  text-align: left;
  align-content: left;
}
